phase1-news-digest/News Digest Automation.json
{
  "name": "News Digest Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "64411240-c18d-4490-a147-29f8099477d1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything?q=technology+AI+software&language=en&pageSize=10&sortBy=publishedAt&apiKey=****",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "b7428ecc-b30a-42e0-b86d-41104407bf71",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const data = $input.first().json;\n  const articles = data.articles ?? [];\n  \n  if (articles.length === 0) {\n    return [{ json: { has_articles: false, message: \"No tech news found today.\" } }];\n  }\n  \n  // Limit to 10 then filter by keyword\n  const limited = articles.slice(0, 10);\n  const keywords = ['AI', 'tech', 'software', 'startup', 'data', 'robot', 'chip', 'cloud'];\n  \n  const filtered = limited.filter(article =>\n    keywords.some(kw =>\n      article.title.toLowerCase().includes(kw.toLowerCase())\n    )\n  );\n  \n  // Use filtered articles, fallback to limited if nothing matched\n  const finalArticles = filtered.length > 0 ? filtered : limited.slice(0, 5);\n  \n  // Format each article\n  const formatted = finalArticles.map((article, index) =>\n    `${index + 1}. *${article.title}*\\n   📰 ${article.source.name}\\n   🔗 ${article.url}`\n  ).join(\"\\n\\n\");\n  \n  const digest = `🗞 *Tech News Digest*\\n📅 ${new Date().toDateString()}\\n\\n${formatted}`;\n  \n  return [{\n    json: {\n      has_articles: true,\n      count: finalArticles.length,\n      message: digest\n    }\n  }];\n  \n} catch (error) {\n  return [{\n    json: {\n      has_articles: false,\n      message: `Error fetching news: ${error.message}`\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "66fdbcd9-d169-4ef0-b87a-b4eef09b3bd1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ac8b7523-4169-412e-819e-f704de1f2d6a",
              "leftValue": "={{ $json.has_articles }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "23b3d04a-3141-4adf-9966-8557f5495a14",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "aaa@gmail.com",
        "subject": "=🗞 Daily Tech News Digest — {{ new Date().toDateString() }}",
        "emailType": "text",
        "message": "={{ $json.message }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        832,
        -85
      ],
      "id": "a1726020-dadd-4610-9abb-f174825720e8",
      "name": "Send a message",
      "webhookId": "6467e52c-18ed-4a01-8216-f299c6bf13f3",
      "credentials": {
        "gmailOAuth2": {
          "id": "ODicgGxfLjTuCtex",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "aaa@gmail.com",
        "subject": "⚠️ News Digest — No articles found today",
        "emailType": "text",
        "message": "={{ $json.message }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        832,
        96
      ],
      "id": "47d94d63-b3cf-4708-9f9d-68f5607d3bb9",
      "name": "Send a message1",
      "webhookId": "d7cd0946-c0f1-4862-bc5f-2e45f5985f9b",
      "credentials": {
        "gmailOAuth2": {
          "id": "ODicgGxfLjTuCtex",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "cd81a5a0-0a03-421b-8f12-de4d396cbba4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "41c8a0253082e7f2e8a66f8a6064e670a10e9488667318f6ab92a1b67a4d7a44"
  },
  "nodeGroups": [],
  "id": "ecaL3VbusNYJ4sqU",
  "tags": []
}
